name: EMTP Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Run Trivy vulnerability scanner in repo mode
      uses: aquasecurity/trivy-action@0.28.0
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        format: 'sarif'
        output: 'trivy-results.sarif'
        severity: 'CRITICAL, HIGH'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v3
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Install Semgrep CLI
      run: python3 -m pip install semgrep

    - name: Run Semgrep SAST and Secrets Scanning
      run: semgrep scan --sarif --sarif-output=semgrep.sarif

    - name: Upload Semgrep scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@v3
      if: always()
      with:
        sarif_file: 'semgrep.sarif'


    - name: Generate config.ini with secrets
      run: |
        cat > config.ini << EOF
        [DEFAULT]
        model_expertise = Quality Assurance
        input_dir = dataset/acquisition/temp/datasources
        base_url = ${{ secrets.BASE_URL }}
        model_name = ${{ secrets.MODEL }}
        authorization_token = ${{ secrets.AUTH_TOKEN }}
        dataset_prompt = "${{ vars.DATASET_PROMPT }}"
        firecrawl_url = ${{ secrets.FIRECRAWL_URL }}
        firecrawl_user = ${{ secrets.FIRECRAWL_USER }}
        firecrawl_pass = ${{ secrets.FIRECRAWL_PASS }}
        EOF

    - name: Run EMTP Pipeline
      run: python main.py --stage full_pipeline --questions-file dataset/acquisition/retrieve_url/sample.json --verbose